* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
}

.sidebar {
  margin-left: 15px;
}

/* Feature overlay */
.overlay-container {
  background-color: #555;
  width: 150px;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

.overlay-container #feature-additional-info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent;
}
